body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
}

#loginButton {
    background-color: aquamarine;
    border: 0;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}